body{
    margin: 0;
    padding: 0;
}
.box{
   width: 1500px;
   height:200px;
   top: 47px;
   left: 38px;
   background-color:white;
   border-width: 2px; /* 1 pixel width */
   border-style: solid; /* dashed style */
   border-color: rgb(12, 4, 4);
   align-items: center;
   
}
.box h1{
    border-bottom: 2px black;
    text-decoration: underline;
    display: inline-block; /* Ensuring the border doesn't span the entire width */
    padding-bottom: 5px;
}

.highlighted {
    
    font-weight: bold;
  }


.box2{
    width: 800px;
    height: 300px;
    top: 500px;
    left: 300;
}
.box2 h1{
    text-decoration: underline;
}
.box2 img{
    height: 200px;
    width: 300px;
}
.box3{
    width: fit-content;
    height: 300px;
    top: 1795px;
    left: 58px;
}
.box3 h1{
    text-decoration: underline;
}
